@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

@media only screen and (max-width: 480px) {
  .App {
    overflow: scroll;
  }
  svg {
    width: 80vw;
    height: 80vw;
    overflow: hidden;
  }

  .nav-brand {
    font-size: xx-large;
  }

  .pallete-item {
    width: 8rem !important;
    height: 8rem !important;
    border: 4px solid white;
  }
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

h4 {
  font-size: large;
}

h5 {
  font-size: medium;
}

h6 {
  font-size: small;
}

.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: stretch;
  gap: 2rem;
}

.App > * {
  margin: 0px !important;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  font-size: xx-large;
}
.nav-brand {
  letter-spacing: 0.2rem;
}

section.header-strip {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 1rem;
}

section.header-strip > * {
  flex: 0 1 auto !important;
  align-self: center;
  justify-self: center;
}

section.svg {
  flex: 0 0 auto !important;
  overflow: hidden;
  align-self: center;
  justify-self: flex-start;
}

section.svg > * {
  mix-blend-mode: luminosity;
  max-width: 480px;
  margin: 0px;
}

section.controls {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  text-align: start;
  padding: 1rem;
  gap: 2rem;
}

section.controls > * {
  flex: 1 1 auto;
}

.tag {
  flex: 0 1 auto !important;
}

.colorpicker {
  flex: 2 2 auto !important;
}

.color-controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* flex-flow: row wrap; */
  gap: 1rem;
  justify-content: center;
  align-content: stretch;
  flex: 0 1 auto !important;
}

.color-controls > * {
  flex: 1 1 auto;
}

.save {
  flex: 0 1 auto !important;
}

section.palette {
  margin: 0px !important;
  align-self: stretch;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.pallete-items {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
}

.palette-item-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  border-radius: 20px;
  overflow: hidden;
  background-color: ivory;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center !important;
  position: relative;
}

.palette-controls-container {
  display: none;
  position: absolute;
}
.palette-controls-container > * {
  flex: 1 1 auto;
}
.pallete-colors {
  display: flex;
  flex-flow: column nowrap;
  border-radius: inherit;
  width: 12rem;
  min-height: 18rem;
  letter-spacing: 2px;
}

.pallete-colors > * {
  align-items: center !important;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.pallete-item-primary {
  grid-area: primary;
  flex: 6 1 !important;
}

.pallete-item-secondary {
  grid-area: secondary;
  flex: 3 1 auto !important;
}

.pallete-item-accent {
  grid-area: accent;
  flex: 1 1 auto !important;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

input[type="text"] {
  padding: 1rem;
  font-size: large;
  border-radius: 2rem;
  outline: none;
}

button {
  border-radius: 2rem;
  padding: 0.8rem;
  font-size: large;
  border: none;
}

button:hover {
  filter: opacity(0.85);
}

.circle {
  border-radius: 100%;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.no-border {
  border: 2px solid transparent !important;
}
