@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

@media only screen and (max-width: 345px) {
  .App {
    /* overflow: scroll; */
    width: fit-content(100vw);
  }
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

h4 {
  font-size: large;
}

h5 {
  font-size: medium;
}

h6 {
  font-size: small;
}

.App {
  min-width: 360px;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: stretch;
  align-content: stretch;
}

nav {
  flex: 0 1 auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
.nav-brand {
  letter-spacing: 0.2rem;
}

section.header-strip {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  justify-items: stretch;
}

section.header-strip > * {
  flex: 0 1 auto;
  align-self: center;
  justify-self: center;
  min-width: 0px;
}

section.svg {
  display: flex;
  text-align: center;
  height: fit-content;
  justify-content: center;
  align-content: center;
}

svg {
  max-width: 480px;
  max-height: 480px;
}

section.svg > * {
  mix-blend-mode: luminosity;
  max-width: 360px;
  align-self: center;
}

section.controls {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  text-align: start;
  padding: 1rem;
  gap: 2rem;
}

section.controls > * {
  flex: 1 0 0px;
  min-width: 0px;
}

.tag {
  flex: 0 1 auto !important;
}

.input-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background-color: aliceblue;
  border-radius: 5rem;
  padding: 0.25rem;
}

.input-box > input[type="text"] {
  flex: 1 1 auto;
  mix-blend-mode: luminosity;
}
.input-box > button {
  flex: 0 1 auto;
}

.color-controls {
  justify-content: space-around;
  align-content: center;
  display: flex;
  flex-flow: row wrap;
}

.color-controls > button {
  flex: 0 1 auto;
  font-size: large;
}

i {
  font-size: large;
  text-align: center;
}

button {
  position: relative !important;
}

button:focus {
  outline: none;
}

button > .tooltip {
  display: none;
  position: absolute;
  width: max-content;
  z-index: 3;
  padding: 0.5rem 1rem;
  top: -69%;
  left: -45%;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 1rem;
  font-size: small;
  color: ivory;
}

.tooltip::after {
  content: "";
  width: 5px;
  height: 5px;
  padding: 10px;
  background-color: inherit;
  transform: rotateZ(45deg);
  left: 40%;
  right: 0px;
  bottom: 0px;
  border-radius: 0px;
  position: absolute;
  z-index: -1;
}

button:hover .tooltip {
  display: block;
}

section.palette {
  margin: 0px !important;
  align-self: stretch;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.pallete-items {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.palette-item-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  border-radius: 20px;
  overflow: hidden;
  background-color: ivory;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.palette-controls-container {
  display: none;
  position: absolute;
}
.palette-controls-container > * {
  flex: 1 1 auto;
}
.pallete-colors {
  display: flex;
  flex-flow: column nowrap;
  border-radius: inherit;
  width: 12rem;
  min-height: 18rem;
  letter-spacing: 2px;
}

.pallete-colors > * {
  align-items: center !important;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.pallete-item-primary {
  grid-area: primary;
  flex: 6 1 !important;
}

.pallete-item-secondary {
  grid-area: secondary;
  flex: 3 1 auto !important;
}

.pallete-item-accent {
  grid-area: accent;
  flex: 1 1 auto !important;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  width: fit-content(100vw);
}

input[type="text"] {
  padding: 1rem;
  font-size: large;
  border-radius: 2rem;
  outline: none;
  border: none;
  background-color: inherit;
}

button {
  border-radius: 2rem;
  padding: 0.8rem;
  font-size: medium;
  border: none;
}

button:hover {
  filter: opacity(0.85);
}

.circle {
  border-radius: 50%;
  min-width: 3.4em;
  min-height: 3.4em;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: unset;
}

a:visited {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: underline;
  color: unset;
}

a:active {
  text-decoration: underline;
  color: unset;
}

@keyframes rotateExit {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotateEntry {
  from {
    transform: rotateZ(90deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
