@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

/* @media only screen and (max-width: 600px) {
  .App {
    grid-template-rows: auto repeat(auto-fill, 1fr);
    grid-template-areas:
      "nav nav"
      "svg svg"
      "controls controls"
      "pallete pallete" !important;
  }
} */
.App {
  min-height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 5rem auto;
  grid-template-areas:
    "nav nav"
    "svg controls"
    "pallete pallete";
  padding: 0rem 10vw;
  margin-bottom: 10vh;
  grid-gap: 1rem;
  object-fit: scale-down;
}

header {
  grid-area: nav;
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}
.nav-brand {
  letter-spacing: 0.2rem;
}

section.svg {
  grid-area: svg;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
  object-fit: scale-down;
}

section.controls {
  grid-area: controls;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  text-align: start;
  gap: 2rem;
}

section.controls > * {
  flex: 1 1 auto;
}

.tag {
  flex: 0 1 auto !important;
}

.colorpicker {
  flex: 0 1 auto !important;
}

.controls {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  align-content: stretch;
  flex: 0 1 auto !important;
}

.controls > * {
  flex: 1 1 auto;
}

.save {
  flex: 0 1 auto !important;
}

section.pallete {
  grid-area: pallete;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.pallete-items {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;
  gap: 1rem;
  padding: 1rem 0rem;
}

.pallete-item {
  flex: 0 1 auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "primary secondary accent";
  max-width: 100vw;
  min-width: 21rem;
  height: 12rem;
  border: 8px solid white;
  box-shadow: 2px 2px 3px #bebebe;
}

.pallete-item-primary {
  grid-area: primary;
}

.pallete-item-secondary {
  grid-area: secondary;
}

.pallete-item-accent {
  grid-area: accent;
}

input[type="text"] {
  padding: 1rem;
  font-size: large;
  border-radius: 0.5rem;
  outline: none;
  /* border: none; */
}

button {
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-size: large;
  border: none;
}

button:hover {
  filter: opacity(0.85);
}
